// Colors
$bg-left: #283e4a;
$font-left: #c7d1d8;
$font-right: rgba(0,0,0,.9);
$place: rgba(0,0,0,.3);
$white: #fff;
$separator: rgba(0,0,0,.5);

//Font
$font: 'Roboto', sans-serif;

// Mobile first Methodology
// Extra Small Less 576px

$competitive-sm: 576px; // Breakpoint for smartphone
$competitive-md: 768px; // Breakpoint for tablet 
$competitive-lg: 992px; // Breakpoint for desktop
$competitive-elg: 1200px; // Breakpoint for desktop
